
<div class="container" style="margin-top:1%">
    <a mat-raised-button style="align-self:center" routerLink="/lectureinfo">Back</a>
    <div class="mat-elevation-z8">  
     <div class="card fancy-card">
        <div class="card-body">

    
    <div class="row justify-content-center" >
          
        <div class="col-xl-3 col-12"   >
           <h3>Class: {{class}} {{semester}}</h3>
        </div>
        <div class="col-xl-3 col-12"   >
            <h3>Subject: {{subject}} </h3>
         </div>
         <div class="col-xl-3 col-12"   >
            <h3>Date&Time: {{datecontrol}} </h3>
         </div>
    </div>
 
    <div class="row justify-content-center" >
          
        <div class="col-xl-3 col-12"   >
           <h3>Present: {{numberpresent}} </h3>
        </div>
        <div class="col-xl-3 col-12"   >
            <h3>Absent: {{numberabsent}} </h3>
         </div>
         <div class="col-xl-3 col-12"   >
            <h3>Mode of Class: {{mode}} </h3>
         </div>
 
     </div>

    <div class="row justify-content-center" style="margin-top: 3%;" >
   
        <div class="col-xl-10 col-12"   >
                <h3>Topic Covered: {{topiccovered}} </h3>
             </div>
     </div>


     <div class="row justify-content-center" >
   
        <div class="col-xl-10 col-12"   >
                <h3>URl of Class: {{urllink}} </h3>
             </div>
     </div>
      
    
    </div>   </div>
</div>
</div>